*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.98em;
}

/* GENERALI */

a{
    text-decoration: none;
    color: black;
}

.bluelink{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 4em;
}

.squarebutton{
    padding: 0.4em 1em;
}

.bluebutton{
    color: white;
    background-color: blue;
}

.whitebutton{
    border: 1px solid black;
}

/* HEADER */

header{
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.jumbo{
    background-color: lightblue;
    padding: 150px 20% 0;
    display: flex;
    flex-wrap: wrap;
}

.jumbo-top{
    width: 100%;
    padding-bottom: 30px;
}
.jumbo-left{
    width: 30%;
}

.jumbo-left :first-child{
    padding-bottom: 20px;
}

.jumbo-left :last-child{
    padding-top: 20px;
}

.jumbo-right{
    width: 70%;
}
.jumbo-right>img{
    max-width: 100%;
}

/* MAIN */

main{
}
main>section{
    padding: 20px 25%;
}

/* FIRST BOX */
.first-box{
}
.first-box:first-child{
    width: 100%;
}

.plan-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.vertical-block{
    border: 2px solid #d0d0d3;
    min-height: 20px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vertical-block>div{
    padding: 0 10%;
}

.plan-selector1{
    text-align: center;
    border-bottom: 2px solid #d0d0d3;
}
.plan-selector1>p{
    color: red;
    padding: 5px 0;
}

.horizontal-block{
    width: 100%;
    min-height: 90px;
    border: 2px solid #d0d0d3;
    display: flex;
    flex-wrap: wrap;
}

.hb-team{
    width: 100%;
    height: 20px;
    text-align: center;
    border-bottom: 2px solid #d0d0d3;
}
.hb-text{
    width: calc(100% - (100% / 3 - 20px));
    background-color: rosybrown;
}
.hb-button{
    width: calc(100% / 3 - 20px);
}

/* SECOND BOX */

.second-box{
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: flex-start;
}

.sb-left{
    width: 60%;
}
.sb-left>img{
    width: 100%;
}

.sb-right{
    width: 40%;
}

/* THIRD BOX */

.third-box{
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.third-box>h3{
    width: 100%;
}

.tb-square{
    width: calc(100% / 3 - 20px);
    background-color: blue;
    display: flex;
    flex-direction: column;
}

/* FOURTH-BOX */

.fourth-box{
    background-color: orange;
}

/* FIFTH-BOX */
.fifth-box{
    padding: 0;
}
.fifth-box>.fb-top{
    display: flex;
    flex-wrap: wrap;
}

.fifth-box>.fb-top>div{
    width: calc(100% / 3);
    min-height: 200px;
}

/*  5B LEFT SIDE */

.fb-left{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
.fb-left>div{
    width: 50%;
}
.fbl-tl{
    background-color: green;
}
.fbl-tr{
    background-color: lightblue;
}
.fbl-bl{
    background-color: lightgreen;
}
.fbl-br{
    background-color: violet;
}

/* 5B MIDDLE */

.fb-middle{
    background-color: white;
}

/* 5B RIGHT SIDE */

.fb-right{
    display: flex;
    flex-wrap: wrap;
}
.fb-right>div{
    width: 50%;
}
.fbr-tl{
    background-color: green;
}
.fbr-tr{
    background-color: lightblue;
}
.fbr-bl{
    background-color: lightgreen;
}
.fbr-br{
    background-color: violet;
}

/* 5B BOTTOM*/

.fb-bottom{
    background-color: lightskyblue;
    width: 100%;
    padding: 0 25%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SIXTH BOX */

.sixth-box{
    background-color: white;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding:0 20% 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer>div{
    width: calc(100% / 5);
    padding: 50px 0 0;
}
