*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.98em;
}

html{
    scroll-behavior: smooth;
}

/* GENERALI */

a{
    text-decoration: none;
    color: black;
}

.bluelink{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 4em;
}

h3{
    font-size: 2.2em;
}

h5{
    font-size: 1.8em;
}

.squarebutton{
    padding: 0.4em 1em;
    text-align: center;
}

.bluebutton{
    color: white;
    background-color: blue;
}

.whitebutton{
    border: 1px solid black;
    background-color: white;
}

li::marker{
    content: none;
}

/* HEADER */

header{
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.jumbo{
    background-color: lightblue;
    padding: 150px 15% 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.jumbo-top{
    width: 100%;
    padding-bottom: 30px;
}
.jumbo-left{
    width: 30%;
}

.jumbo-left :first-child{
    padding-bottom: 15%;
}

.jumbo-left>p:last-of-type{
    padding-top: 15%;
}

.jumbo-right{
    width: 70%;
}
.jumbo-right>img{
    max-width: 100%;
    z-index: 20;
}

.jumbo>a{
    font-size: 3em;
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.whitebackgroundfix{
    padding: 0;
    background-color: white;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* MAIN */

main{
}
main>section{
    padding: 20px 20%;
}

/* FIRST BOX */
.first-box{
    margin: 5% 0;
}

.first-box:first-child{
    width: 100%;
}

.first-box>div>h3{
    padding: 5% 0;
}

.billing-choice{
    display: inline-block;
    padding: 0 5% 5% 0;
}
.plan-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.vertical-block{
    border: 2px solid #d0d0d3;
    min-height: 2px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-block-top{
    border-bottom: 2px solid #d0d0d3;
}

.vertical-block-top>p{
    text-align: center;
    padding: 10px 0;
}

.vertical-block-bottom{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-around;
    gap: 2em;
}

.vb-bot-top{
}
.vb-bot-top>h5, .vb-bot-top>p{
    padding-bottom: 0.5em;
}

.vb-bot-mid{
}

.vb-bot-mid>p{
    padding-bottom: 0.5em;
}

.vb-b-m-buttons{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.vb-b-m-buttons>a, .vb-b-m-buttons>div{
    padding-bottom: 0.5em;
}
.or-decoration{
    border-bottom: 2px solid #d0d0d3;
    padding-bottom: 2.5em;
}

.vb-bot-bot>ul>li{
    padding-bottom: 0.5em;
    list-style: url(../img/check-solid.svg);
}
.vb-bot-bot>ul>li:before {
    content: ' ';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url(../img/check-solid.svg);
  }

.vb-bot-bot>h6{
    padding-bottom: 0.5em;
}

{
}

.horizontal-block{
    width: 100%;
    border: 2px solid #d0d0d3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hb-top{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #d0d0d3;
}
.hb-left{
    width: calc(100% * (5/ 7));
}

.hb-left>h5{
    padding-bottom: 15px;
}
.hb-right{
    width: calc(100% * (2 / 7));
    text-align: right;
}

.hb-left, .hb-right, .hb-bottom{
    padding: 2em;
}

.hb-bottom{
    width: calc(100% * (5 / 7));
}

/* SECOND BOX */

.second-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sb-left{
    width: 60%;
}
.sb-left>img{
    width: 100%;
}

.sb-right{
    width: 40%;
    padding: 2em;
}
.sb-right>h5{
    padding-bottom: 1em;
}

.sb-right>p{
    padding-bottom: 2em;
}

/* THIRD BOX */

.third-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5% 0;
}

.third-box>h3{
    width: 100%;
}

.tb-square{
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}
.tb-square-txt>h5{
    padding-bottom: 0.8em;
}

/* FOURTH-BOX */

.fourth-box{
    width: 75%;
}
.fourth-box>h3{
    padding-bottom: 2em;
}

/* FIFTH-BOX */
.fifth-box{
    padding: 0;
    margin: 5% 0;
}
.fifth-box>.fb-top{
    display: flex;
    flex-wrap: wrap;
}

.fifth-box>.fb-top>div{
    width: calc(100% / 3);
}

/*  5B LEFT SIDE */

.fb-left{
    display: flex;
    flex-wrap: wrap;
}
.fb-left>div{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    transition: 0.5s;
}

.fb-left>div:hover{
    scale: 0.9;
    cursor: pointer;
}

.fb-left>div>img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.fbl-tl{
    background-color: #a2d39b;
}
.fbl-tr{
    background-color: #61082b;
}
.fbl-bl{
    background-color: #0093ce;
}
.fbl-br{
    background-color: #ff1c1c;
}

/* 5B MIDDLE */

.fb-middle{

    overflow: auto;
}
    
.fb-middle>div{
    background-color: #f5f5f5;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.fb-middle>div>div{
    padding: 3em 4em;
    text-align: lef;
}

.fb-middle>div>div>img{
    width: 200px;
}


.fb-middle:hover{
}

/* 5B RIGHT SIDE */

.fb-right{
    display: flex;
    flex-wrap: wrap;
}
.fb-right>div{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    transition: 0.5s ease-out;
}

.fb-right>div:hover{
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.fb-right>div>img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.fbr-tl{
    background-color: #d5001f;
}
.fbr-tr{
    background-color: #b4d0e7;
}
.fbr-bl{
    background-color: #0d2481;
}
.fbr-br{
    background-color: #ffd830;
}


/* 5B BOTTOM*/

.fb-bottom{
    background-color: #b4d0e7;
    width: 100%;
    padding: 7% 25%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fb-bottom>h3{
    width: 50%;
}

.fb-bottom>a{
    width: 30%;
    text-align: center;
    padding: 0.5em;
}

/* SIXTH BOX */

.sixth-box{
    background-color: white;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 7%;
}

.sixth-box>h3{
    padding-bottom: 1.5em;
}

.sixth-box>div:first-of-type{
    border-top: 1px solid black;
}

.question-box{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    transition: 1s;
    flex-wrap: wrap;
    position: relative;
}
.question{
    background-color: white;
    transition: 1s;
    z-index: 5;
    padding: 2em 0;
    width: 95%;
}

.lil-arrow{
    width: 5%;
    z-index: 6;
}

.question, .lil-arrow{
    padding: 2em 0;
}

.question-box:hover{
    padding-bottom: 10%;
    color: black;
    z-index: 2;
}

.answer{
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-weight: bolder;
}




/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding:0 15% 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
footer>div{
    width: calc(100% / 5 - 50px);
    padding: 50px 0 0;
}

footer>div>h6{
    padding-bottom: 1em;
}

footer>div>ul>li>a{
    color: white;
    padding-bottom: 0.5em;
}

.languagesel{
    padding-right: 10%;
    padding-top: 20%;
    border-top: 1px solid white;
}