*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.98em;
}

/* GENERALI */

a{
    text-decoration: none;
    color: black;
}

.bluelink{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 4em;
}

h3{
    font-size: 2.2em;
}

h5{
    font-size: 1.8em;
}

.squarebutton{
    padding: 0.4em 1em;
    text-align: center;
}

.bluebutton{
    color: white;
    background-color: blue;
}

.whitebutton{
    border: 1px solid black;
}

li::marker{
    content: none;
}
/* HEADER */

header{
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.jumbo{
    background-color: lightblue;
    padding: 150px 15% 0;
    display: flex;
    flex-wrap: wrap;
}

.jumbo-top{
    width: 100%;
    padding-bottom: 30px;
}
.jumbo-left{
    width: 30%;
}

.jumbo-left :first-child{
    padding-bottom: 20px;
}

.jumbo-left :last-child{
    padding-top: 20px;
}

.jumbo-right{
    width: 70%;
}
.jumbo-right>img{
    max-width: 100%;
}

/* MAIN */

main{
}
main>section{
    padding: 20px 20%;
}

/* FIRST BOX */
.first-box{
}

.first-box:first-child{
    width: 100%;
}

.first-box>div>h3{
    padding: 5% 0;
}

.billing-choice{
    display: inline-block;
    padding: 0 5% 5% 0;
}
.plan-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.vertical-block{
    border: 2px solid #d0d0d3;
    min-height: 2px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-block-top{
    border-bottom: 2px solid #d0d0d3;
}

.vertical-block-top>p{
    text-align: center;
    color: red;
    padding: 10px 0;
}

.vertical-block-bottom{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-around;
    gap: 2em;
}

.vb-bot-top{
}
.vb-bot-top>h5, .vb-bot-top>p{
    padding-bottom: 0.5em;
}

.vb-bot-mid{
}

.vb-bot-mid>p{
    padding-bottom: 0.5em;
}

.vb-b-m-buttons{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.vb-b-m-buttons>a, .vb-b-m-buttons>div{
    padding-bottom: 0.5em;
}
.or-decoration{
    border-bottom: 2px solid #d0d0d3;
    padding-bottom: 2.5em;
}

.vb-bot-bot{
    background-color: lightblue;
}

.vb-bot-bot>h6{
    padding-bottom: 0.5em;
}

ul>li{
    padding-bottom: 0.5em;
}

.horizontal-block{
    width: 100%;
    border: 2px solid #d0d0d3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hb-top{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #d0d0d3;
}
.hb-left{
    width: calc(100% * (5/ 7));
    background-color: rosybrown;
}

.hb-left>h5{
    padding-bottom: 15px;
}
.hb-right{
    width: calc(100% * (2 / 7));
    text-align: right;
}

.hb-left, .hb-right, .hb-bottom{
    padding: 2em;
}

.hb-bottom{
    width: calc(100% * (5 / 7));
}

/* SECOND BOX */

.second-box{
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: flex-start;
}

.sb-left{
    width: 60%;
}
.sb-left>img{
    width: 100%;
}

.sb-right{
    width: 40%;
    padding: 2em;
}
.sb-right>h5{
    padding-bottom: 1em;
}

.sb-right>p{
    padding-bottom: 2em;
}

/* THIRD BOX */

.third-box{
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.third-box>h3{
    width: 100%;
}

.tb-square{
    width: calc(100% / 3 - 20px);
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.tb-square-txt>h5{
    padding-bottom: 0.8em;
}

/* FOURTH-BOX */

.fourth-box{
    background-color: orange;
}
.fourth-box>h3{
    padding-bottom: 2em;
}

/* FIFTH-BOX */
.fifth-box{
    padding: 0;
}
.fifth-box>.fb-top{
    display: flex;
    flex-wrap: wrap;
}

.fifth-box>.fb-top>div{
    width: calc(100% / 3);
    min-height: 200px;
}

/*  5B LEFT SIDE */

.fb-left{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
.fb-left>div{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
}
.fbl-tl{
    background-color: green;
}
.fbl-tr{
    background-color: lightblue;
}
.fbl-bl{
    background-color: lightgreen;
}
.fbl-br{
    background-color: violet;
}

/* 5B MIDDLE */

.fb-middle{
    background-color: white;
}

/* 5B RIGHT SIDE */

.fb-right{
    display: flex;
    flex-wrap: wrap;
}
.fb-right>div{
    width: 50%;
}
.fbr-tl{
    background-color: green;
}
.fbr-tr{
    background-color: lightblue;
}
.fbr-bl{
    background-color: lightgreen;
}
.fbr-br{
    background-color: violet;
}

/* 5B BOTTOM*/

.fb-bottom{
    background-color: lightskyblue;
    width: 100%;
    padding: 0 25%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SIXTH BOX */

.sixth-box{
    background-color: white;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding:0 15% 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer>div{
    width: calc(100% / 5);
    padding: 50px 0 0;
}
